.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color: $color-white, $alpha: .5);
        border: none;
        font-family: inherit;
        //solve when focused, the border-bottom added
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        //set input font color
        color: inherit;
        transition: all .3s;

        &:focus {
            //solve blue outline when focused
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color: $color-black, $alpha: .1);
            border-bottom: 3px solid rgba($color: $color-primary, $alpha: 1);

            &::placeholder {
                color: $color-gray-dark-2;
            }


        }

        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark;
        }

    }




    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        //make it same as input text's padding
        margin-left: 2rem;
        margin-top: .7rem;
        //inline element, margin/padding only apply horizontally
        display: block;
        transition: all .3s;
    }

    //we do not want to style input, we want to style label
    //when there is not placeholder, the declaration below will gone
    &__input:placeholder-shown+&__label {
        //animate the visibility
        opacity: 0;
        //make it gone(still take up the position)
        //display property will remove the element from layout
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-group {
        width: 49%;
        display: inline-block;
    }

    &__radio-input{
        display: none;
    }
    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
    }

    &__radio-button {
        //make a circle border
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        display: inline-block;
        border-radius: 50%;

        position: absolute;
        left: 0;
        top: -.4rem;

        //make inner button element, the dot
        &::after {
            //content and display are necessary
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;

            //make dot
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0%;
            transition: all .2s;
        }
    }

    //So as soon as we hit the label element,
    //the radio-input becomes checked.
    &__radio-input:checked ~ &__radio-label &__radio-button::after{
        opacity: 1;
    }
}